[Unit]
Description=Nightly BooneTools Postgres Backup

[Timer]
OnCalendar=*-*-* 03:15:00
Persistent=true
Unit=boonetools-db-backup.service

[Install]
WantedBy=timers.target
