[Unit]
Description=Kick off BooneTools TC Fee Dash backfill

[Timer]
OnActiveSec=20min
OnUnitActiveSec=6h
RandomizedDelaySec=30min
Unit=boonetools-tc-fee-dash-backfill.service

[Install]
WantedBy=timers.target
