[Unit]
Description=Run BooneTools NodeOp Scheduler hourly

[Timer]
OnCalendar=hourly
Persistent=true
Unit=boonetools-nodeop-scheduler.service

[Install]
WantedBy=timers.target
